* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
.banner {
    height: 100%;
    width: 100%;
    background-image:  url(../login&register/img/newYork.jpg);
    background-size: cover;
    position: absolute;
}
.form-box {
    width: 380px;
    height: 560px;
    position: relative;
    margin: 6% auto;
    background: #000000;
    opacity: 0.95;
    padding: 5px;
    overflow: hidden;
    box-shadow: 2px;
    overflow: auto;
    overflow-x: hidden;
}

.buttom-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 4px 0.2px #240985;
    border-radius: 30px;
}
.switch-btn {
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
.switch-user-data {
    display: none;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #2434c2, #240985);
    border-radius: 30px;
    transition: .5s;
}
.social-icons {
    margin: 30px auto;
    text-align: center;
}
.social-icons img {
    width: 30px;
    margin: 0 8px;
    box-shadow: 0 0 20px 0 #7f7f7f1d;
    cursor: pointer;
    border-radius: 50%;
}
.input-group {
    top: 170px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: white;
}
.submit-btn {
    width: 85%;
    align-items: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;
    display: flex;
    margin: auto;
    background: linear-gradient(to right,#2434c2, #240985);
    border: 0;
    outline: none;
    border-radius: 50px;
    color: white;
    transition: .4s;
}
.submit-btn:hover {
    width: 87%;
    box-shadow: 0px 10px 10px rgba(48, 48, 48, 0.4);
}
.check-box {
    margin: 30px 10px 30px 0;
}
span {
    color: rgb(207, 207, 207);
    font-size: 12px;
    bottom: 77px;
    position: absolute;
}
.remember-password {
    color: rgb(207, 207, 207);
    font-size: 12px;
    bottom: 77px;
    position: absolute;
}
#login {
    left: 50px;
}
h4, svg {
    position: absolute;
    color: white;
    fill: transparent;
    transition: .4s;
}
.submit-btn:hover h4 {
    transition: .4s;
    font-size: 16px;
}
.submit-btn:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid transparent;
    width: 50px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    animation: spin 2s 500ms forwards;
}
.submit-btn:focus h4 {
    color: transparent;
}
.submit-btn:focus svg {
    animation: check 500ms 1000ms forwards;
}
@keyframes spin {
    80% {
        border: 2px solid transparent;
        border-left: 2px solid white;
    }
    100%{
        transform: rotate(1080deg);
        border: 2px solid white;
    }
}
@keyframes check {
    to {
        fill: white;
    }
}
@keyframes circle {
    to {
        border: 2px solid white;
    }
}
#login {
    left: 50px;
}
#register {
    left: 450px;
}
#dataUser {
    left: 450px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
.text-drop-menu {
    font-weight: 300;
    font-size: 14px;
    color: white;
}
#professional-user {
    display: none;
}
.space {
    background: transparent;
    width: 100%;
    height: 10px;
}
.white-line {
    background: white;
    width: 100%;
    height: 1.2px;
    opacity: 0.6;
}